body {
    font-family: Arial, sans-serif;
    background-color: #112e42;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 36px;
    color: #333;
}

.header p {
    font-size: 18px;
    color: #666;
}

.contact-info p {
    font-size: 16px;
    color: #555;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    margin: 10px 0;
}

.contact-info a {
    color: #007BFF;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
    color: #999;
}
